.chat-bubble {
    margin-bottom: 10px;
    max-width: 100%;
  }
  
  .chat-bubble.own {
    align-self: flex-end;
    text-align: right;
  }
  
  .chat-bubble.other {
    align-self: flex-start;
    text-align: left;
  }
  
  .chat-bubble .username {
    font-size: 1rem;
    font-weight: 800;
    color: #000;
  }
  
  .chat-bubble .bubble {
    display: inline-block;
    background-color: #EEE;
    border-radius: 12px;
    padding: 10px;
    word-wrap: break-word;
  }
  
  .chat-bubble.own .bubble {
    background-color: #eee;
  }
  