.weather-card {
    background-color: #4B548B;
    color: #AEE5D1;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    min-height:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

    .weather-card img {
        width: 100px;
        max-width: 100%;
        height: auto;
    }

    .weather-card p {
        font-size: 1.25rem;
        margin-top: 0.5rem;
    }

.carousel-inner {
    min-height: 300px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 30%;
  padding: 20px;
  background-color: #4B548B;
}


@media (max-width: 1000px) {
    .weather-card h6, .weather-card h5 {
        font-size: 15px;
    }

        .weather-card img {
            width: 200px;
            padding-left: 20px;
        }

        .weather-card p {
            font-size: 1em;
            margin-right: 22px;
        }
        .weather-card{
            margin-bottom: 2rem;
        }
}

@media (max-width: 1200px) {
    .weather-card h6, .weather-card h5 {
        font-size: 15px;
    }

        .weather-card img {
            width: 200px;
            padding-left: 20px;
        }

        .weather-card p {
            font-size: 1em;
            margin-right: 22px;
        }
        .weather-card{
            margin-bottom: 2rem;
        }
}




